.contents {
  padding-top: 0 !important;
}

.header {
  position: fixed;
  background: transparent;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.header .logo > a {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}
.header .gnb_wrap .gnb > ul > li > a {
  color: #fff;
}

.flex_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_wrap .l {
  margin-right: auto;
}
.flex_wrap .r {
  margin-left: auto;
}

.main_tit {
  font-size: 34px;
  font-weight: 600;
  color: #222;
}

.sec01 {
  font-size: 16px;
}
.sec01 .main_promotion.swiper-container {
  position: relative;
  width: 100%;
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  overflow: hidden;
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box {
  position: relative;
  width: 100%;
  height: 100%;
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box img {
  position: relative;
  width: 100%;
  height: auto;
}
@media all and (min-width: 769px) and (max-width: 1445px), print {
  .sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box .pc_content {
    display: block !important;
  }
  .sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box .m_content {
    display: none !important;
  }
}
@media all and (max-width: 768px) {
  .sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box .pc_content {
    display: none !important;
  }
  .sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box .m_content {
    display: block !important;
  }
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .txt_box {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  left: 50%;
  top: 25%;
  z-index: 20;
  color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .txt_box > strong {
  display: block;
  margin-bottom: 25px;
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 600;
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .txt_box > em {
  display: block;
  width: 70%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .txt_box > p {
  display: none;
}
.sec01 .main_promotion.swiper-container .controller_wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 10px;
  max-width: 100%;
  left: 0;
  top: 70%;
  z-index: 30;
}
.sec01 .main_promotion.swiper-container .controller_wrap .swiper-pagination {
  position: relative;
  display: inline-block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 0;
}
.sec01 .main_promotion.swiper-container .controller_wrap .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.sec01 .main_promotion.swiper-container .controller_wrap .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.sec01 .main_promotion.swiper-container .controller_wrap .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}
.sec01 .main_promotion.swiper-container .controller_wrap .main_prev,
.sec01 .main_promotion.swiper-container .controller_wrap .main_next {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px;
  width: 25px;
  height: 21px;
  background-size: 15px 11px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1px;
  text-indent: -9999rem;
  color: transparent;
  line-height: 0;
  left: auto;
  right: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@-webkit-keyframes nav_ani_prev {
  0% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes nav_ani_prev {
  0% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes nav_ani_next {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes nav_ani_next {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.sec01 .main_promotion.swiper-container .controller_wrap .main_prev {
  margin-right: 7px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-image: url(../images/main_prev.png) !important;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
.sec01 .main_promotion.swiper-container .controller_wrap .main_prev:hover {
  -webkit-animation: nav_ani_prev 1 0.2s;
          animation: nav_ani_prev 1 0.2s;
}
.sec01 .main_promotion.swiper-container .controller_wrap .main_next {
  margin-left: 7px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-image: url(../images/main_next.png) !important;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.sec01 .main_promotion.swiper-container .controller_wrap .main_next:hover {
  -webkit-animation: nav_ani_next 1 0.2s;
          animation: nav_ani_next 1 0.2s;
}
.sec01 .main_promotion.swiper-container .scroll_icon {
  position: absolute;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  left: 50%;
  top: 86%;
  bottom: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 30;
  -webkit-animation: scroll_guide 2.2s infinite ease-in-out;
          animation: scroll_guide 2.2s infinite ease-in-out;
}
.sec01 .main_promotion.swiper-container .scroll_icon::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9px 11px;
  background-image: url(../images/ico_scroll_guide.png);
  left: 50%;
  top: 23px;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}
@-webkit-keyframes scroll_guide {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  25% {
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
  47% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  53% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  75% {
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
  100% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
}
@keyframes scroll_guide {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  25% {
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
  47% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  53% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  75% {
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
  100% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
}

.sec02 {
  padding: 60px 0 60px;
}
.sec02 .flex_wrap {
  margin-bottom: 20px;
}
.sec02 .main_tit {
  display: block;
  line-height: 1 !important;
}
.sec02 .inner {
  margin: 0 auto;
}
.sec02 .event_controller {
  position: relative;
}
.sec02 .event_controller .event_prev,
.sec02 .event_controller .event_next {
  position: static;
  display: inline-block;
  left: auto;
  right: auto;
  margin: 0;
  width: 28px;
  height: 17px;
  font-size: 0px;
  line-height: 1;
  color: transparent;
  text-indent: -9999rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  opacity: 1;
}
.sec02 .event_controller .event_prev.swiper-button-disabled,
.sec02 .event_controller .event_next.swiper-button-disabled {
  opacity: 0.4;
}
.sec02 .event_controller .event_prev {
  background-image: url(../images/event_prev.png);
}
.sec02 .event_controller .event_next {
  margin-left: 15px;
  background-image: url(../images/event_next.png);
}
.sec02 .event_list_wrap.swiper-container {
  padding-top: 30px;
  margin-left: -10px;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper {
  margin-left: 10px;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide {
  width: 190px;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a {
  display: inline-block;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a img {
  width: 100%;
  height: 180px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a:hover {
  -webkit-box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1);
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info {
  margin-top: 25px;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border-radius: 100%;
  margin-top: 2px;
  background-color: currentColor;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat.prg {
  color: #c87869;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat.end {
  color: #666;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title {
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title > a {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), color-stop(30%, #f7debf), color-stop(60%, #f7debf), color-stop(60%, transparent), to(transparent));
  background: linear-gradient(to bottom, transparent 0%, transparent 30%, #f7debf 30%, #f7debf 60%, transparent 60%, transparent 100%);
  left: 2px;
  top: 0;
  z-index: -1;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title > a:hover::before {
  width: calc(100% - 10px);
}
.sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .date {
  display: block;
  margin-top: 15px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sec03 {
  position: relative;
  padding: 60px 0;
  background-color: #164441;
  overflow: hidden;
}
.sec03 .inner {
  position: relative;
}
.sec03 .feed_list_wrap.swiper-container {
  width: 100%;
  overflow: visible;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 450px;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed img {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(50%) opacity(50%) sepia(20%);
          filter: grayscale(50%) opacity(50%) sepia(20%);
  background-color: #164441;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 20;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .ico_instagram {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 1px;
  text-indent: -9999rem;
  color: transparent;
  line-height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-image: url(../images/ico_instagram.png);
  opacity: 0;
  right: 20px;
  top: 20px;
  z-index: 40;
  -webkit-transition: opacity all 0.2s;
  transition: opacity all 0.2s;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .feed_info {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  height: auto;
  color: #fff;
  bottom: 20px;
  left: 0;
  z-index: 30;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .feed_info .account {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .feed_info .txt {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide a:hover i {
  opacity: 1 !important;
}
.sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide a:hover img {
  -webkit-filter: initial;
          filter: initial;
}
.sec03 .txt_repeat {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 137px;
  background: url(../images/img_txt_repeat.png) repeat-x 0 0;
  animation: animatedBackground 20s linear infinite;
  -ms-animation: animatedBackground 20s linear infinite;
  -moz-animation: animatedBackground 20s linear infinite;
  -webkit-animation: animatedBackground 20s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.sec04 {
  margin-bottom: -60px;
  padding: 60px 0;
}
.sec04 h3 {
  margin-bottom: 25px;
  line-height: 1.1;
  font-weight: 600;
  font-size: 34px;
  color: #222;
}
.sec04 li:not(:last-child) {
  margin-bottom: 15px;
}
.sec04 li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 17px;
  background: #eee;
}
.sec04 .l {
  overflow: hidden;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  color: #222;
}

.header.scroll_header {
  background: #fff;
}
.header.scroll_header.active {
  background: #562e26;
}
.header.scroll_header .logo > a {
  -webkit-filter: none;
          filter: none;
}

@media all and (min-width: 1445px), print {
  .header.scroll_header a {
    color: #222 !important;
  }
  .main_tit {
    font-size: 54px;
  }
  .sec01 .main_promotion.swiper-container {
    height: 100vh;
  }
  .sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .sec01 .main_promotion.swiper-container .swiper-wrapper .swiper-slide .img_box img {
    position: absolute;
    width: 100%;
    min-width: 202.1052631579vh;
    height: 100%;
    min-height: 49.4791666667vw;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .sec01 .main_promotion.swiper-container .controller_wrap {
    width: 1440px;
    margin-left: -10px;
    max-width: 100%;
    top: 70%;
    left: 50%;
    z-index: 30;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sec01 .main_promotion.swiper-container .controller_wrap .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .sec01 .main_promotion.swiper-container .controller_wrap .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 10px;
  }
  .sec01 .main_promotion.swiper-container .controller_wrap .main_prev,
.sec01 .main_promotion.swiper-container .controller_wrap .main_next {
    padding: 10px;
    width: 40px;
    height: 34px;
    background-size: 20px 14px;
  }
  .sec01 .main_promotion.swiper-container .controller_wrap .main_prev {
    margin-right: 10px;
  }
  .sec01 .main_promotion.swiper-container .controller_wrap .main_next {
    margin-left: 10px;
  }
  .sec01 .main_promotion.swiper-container .scroll_icon {
    font-size: 16px;
    top: 90%;
  }
  .sec01 .main_promotion.swiper-container .scroll_icon::after {
    margin: 15px auto 0;
    width: 30px;
    height: 30px;
    background-size: 12px 14px;
  }
  .sec02 {
    padding: 120px 0 120px;
  }
  .sec02 .flex_wrap {
    margin-bottom: 20px;
  }
  .sec02 .main_tit {
    display: block;
    text-indent: 0 !important;
    line-height: 1 !important;
  }
  .sec02 .inner {
    margin: 0 auto -20px;
  }
  .sec02 .event_controller {
    position: relative;
  }
  .sec02 .event_controller .event_prev,
.sec02 .event_controller .event_next {
    position: static;
    display: inline-block;
    left: auto;
    right: auto;
    margin: 0;
    width: 36px;
    height: 21px;
    font-size: 0px;
    line-height: 1;
    color: transparent;
    text-indent: -9999rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    opacity: 1;
  }
  .sec02 .event_controller .event_prev.swiper-button-disabled,
.sec02 .event_controller .event_next.swiper-button-disabled {
    opacity: 0.4;
  }
  .sec02 .event_controller .event_prev {
    background-image: url(../images/event_prev.png);
  }
  .sec02 .event_controller .event_next {
    margin-left: 30px;
    background-image: url(../images/event_next.png);
  }
  .sec02 .event_list_wrap.swiper-container {
    padding-top: 40px;
    margin-left: -20px;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper {
    margin-left: 20px;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide {
    width: 330px;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box {
    display: block;
    width: 100%;
    height: auto;
    font-size: 0;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a {
    display: inline-block;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow 0.2s ease;
    transition: -webkit-box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a img {
    width: 100%;
    height: 300px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a:hover {
    -webkit-box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1);
            box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1);
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .img_box > a:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info {
    margin-top: 40px;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 100%;
    margin-top: 2px;
    background-color: currentColor;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat.prg {
    color: #c87869;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .stat.end {
    color: #666;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title {
    display: block;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title > a {
    position: relative;
    display: inline-block;
    max-width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title > a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, #f7debf), to(#f7debf));
    background: linear-gradient(to bottom, transparent 0%, transparent 60%, #f7debf 60%, #f7debf 100%);
    left: 2px;
    top: 0;
    z-index: -1;
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .title > a:hover::before {
    width: calc(100% - 10px);
  }
  .sec02 .event_list_wrap.swiper-container .swiper-wrapper .swiper-slide .event_info .date {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sec03 {
    padding: 140px 0;
    background-color: #164441;
  }
  .sec03 .inner {
    position: relative;
  }
  .sec03 .feed_list_wrap.swiper-container {
    width: 100%;
    overflow: visible;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 450px;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed img {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(50%) opacity(50%) sepia(20%);
            filter: grayscale(50%) opacity(50%) sepia(20%);
    background-color: #164441;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 20;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .ico_instagram {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 1px;
    text-indent: -9999rem;
    color: transparent;
    line-height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-image: url(../images/ico_instagram.png);
    opacity: 0;
    right: 20px;
    top: 20px;
    z-index: 40;
    -webkit-transition: opacity all 0.2s;
    transition: opacity all 0.2s;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .feed_info {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    height: auto;
    color: #fff;
    bottom: 20px;
    left: 0;
    z-index: 30;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .feed_info .account {
    display: block;
    font-size: 18px;
    font-weight: 500;
  }
  .sec03 .feed_list_wrap.swiper-container .swiper-wrapper .swiper-slide .feed .feed_info .txt {
    display: block;
    margin-top: 10px;
    font-size: 16px;
  }
  .sec04 {
    margin-bottom: -120px;
    padding: 120px 0;
  }
  .sec04 .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sec04 h3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 25px;
    line-height: 1.2;
    font-size: 54px;
  }
  .sec04 ul {
    width: 1090px;
    margin-left: auto;
    padding-left: 100px;
  }
  .sec04 li:not(:last-child) {
    margin-bottom: 15px;
  }
  .sec04 li:nth-child(1) > a {
    width: 70%;
  }
  .sec04 li:nth-child(2) > a {
    width: 85%;
  }
  .sec04 li:nth-child(3) > a {
    width: 100%;
  }
  .sec04 li > a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 30px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .sec04 li > a:hover {
    background: #ccc;
    width: 100%;
  }
  .sec04 .l {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 0;
    padding-right: 20px;
    font-size: 20px;
  }
}