/* Common */

/*----- mobile -----*/
// sound-only
.blind {
	position: absolute;
	left: -1000%;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
}

// display
.d_b {
	display: block !important;
}

.d_i_b {
	display: inline-block !important;
}

.ofh {
	overflow: hidden;
}

// font-weight
.fwl {
	font-weight: 300 !important;
}

.fwr {
	font-weight: 400 !important;
}

.fwm {
	font-weight: 500 !important;
}

.fwb {
	font-weight: 600 !important;
}

.bold {
	font-weight: 400;
	color: #333;
}

// align
.txt_l {
	text-align: left !important;
}

.txt_c {
	text-align: center !important;
}

.txt_r {
	text-align: right !important;
}

.v_top {
	vertical-align: top;
}

.v_mid {
	vertical-align: middle !important;
}

.v_btm {
	vertical-align: bottom;
}

// color
.color_default {
	color: #666;
}

.color_black {
	color: #222 !important;
}

.color_white {
	color: #fff !important;
}

.color_beige {
	color: #c87869;
}