@charset "utf-8";

$bc-1 : #c87869;
$bc-1-op :#c8776944;
$bc-2 : #f7debf;

.contents {
	padding-top: 0 !important;
}

.header {
	position: fixed;
	background: transparent;
	transition: background .5s ease;

	.logo>a {
		filter: brightness(10);
	}

	.gnb_wrap {
		.gnb {
			>ul {
				>li {
					>a {
						color: #fff;
					}
				}
			}
		}
	}
}

.flex_wrap {
	display: flex;
	align-items: center;


	.l {
		margin-right: auto;
	}

	.r {
		margin-left: auto;
	}
}

.main_tit {
	font-size: 34px;
	font-weight: 600;
	color: #222;
}

.sec01 {
	font-size: 16px;

	.main_promotion {
		&.swiper-container {
			position: relative;
			width: 100%;
			//max-height: 700px;

			.swiper-wrapper {

				.swiper-slide {
					position: relative;
					overflow: hidden;

					.img_box {
						position: relative;
						width: 100%;
						height: 100%;

						img {
							position: relative;
							width: 100%;
							height: auto;
						}

						@media all and (min-width : 769px) and (max-width : 1445px),
						print {
							.pc_content {
								display: block !important;
							}

							.m_content {
								display: none !important;
							}
						}

						@media all and (max-width : 768px) {
							.pc_content {
								display: none !important;
							}

							.m_content {
								display: block !important;
							}
						}
					}

					.txt_box {
						position: absolute;
						width: 100%;
						padding: 0 10px;
						left: 50%;
						top: 25%;
						z-index: 20;
						color: #fff;
						transform: translateX(-50%);

						>strong {
							display: block;
							margin-bottom: 25px;
							font-size: 40px;
							color: #fff;
							line-height: 1.2;
							font-weight: 600;
						}

						>em {
							display: block;
							width: 70%;
							font-size: 16px;
							line-height: 1.5;
							font-weight: 400;
						}

						>p {
							//pc컨텐츠
							display: none;
						}
					}
				}
			}

			.controller_wrap {
				position: absolute;
				display: flex;
				align-items: center;
				width: 100%;
				margin: 0 10px;
				max-width: 100%;
				left: 0;
				top: 70%;
				z-index: 30;

				.swiper-pagination {
					position: relative;
					display: inline-block;
					order: 2;
					font-size: 0;

					.swiper-pagination-bullet {
						width: 8px;
						height: 8px;
						background-color: #fff;
						opacity: .5;
						transition: opacity .20s ease;

						&-active {
							opacity: 1;
						}

						&+.swiper-pagination-bullet {
							margin-left: 8px;
						}
					}
				}

				.main_prev,
				.main_next {
					position: relative;
					display: inline-block;
					margin: 0;
					padding: 5px;
					width: 25px;
					height: 21px;
					background-size: 15px 11px;
					background-repeat: no-repeat;
					background-position: center center;

					font-size: 1px;
					text-indent: -9999rem;
					color: transparent;
					line-height: 0;

					left: auto;
					right: auto;
					transition: all .20s ease;

					@keyframes nav_ani_prev {
						0% {
							transform: rotate(-4deg);
						}

						50% {
							transform: rotate(4deg);
						}

						100% {
							transform: rotate(0);
						}
					}

					@keyframes nav_ani_next {
						0% {
							transform: rotate(4deg);
						}

						50% {
							transform: rotate(-4deg);
						}

						100% {
							transform: rotate(0);
						}
					}
				}

				.main_prev {
					margin-right: 7px;
					order: 1;
					background-image: url(../images/main_prev.png) !important;
					transform-origin: right center;

					&:hover {
						animation: nav_ani_prev 1 .20s;
					}
				}

				.main_next {
					margin-left: 7px;
					order: 3;
					background-image: url(../images/main_next.png) !important;
					transform-origin: left center;

					&:hover {
						animation: nav_ani_next 1 .20s;
					}
				}
			}

			.scroll_icon {
				position: absolute;
				display: inline-block;

				font-size: 13px;
				font-weight: 400;
				color: #fff;
				line-height: 1;

				left: 50%;
				top: 86%;
				bottom: auto;
				transform: translateX(-50%);
				z-index: 30;

				animation: scroll_guide 2.20s infinite ease-in-out;
				//transition: all .20s ease-in-out;

				&::after {
					content: "";
					position: absolute;
					width: 23px;
					height: 23px;
					border-radius: 100%;
					background-color: #fff;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 9px 11px;
					background-image: url(../images/ico_scroll_guide.png);

					left: 50%;
					top: 23px;
					transform: translate(-50%, -30%);
				}

				@keyframes scroll_guide {
					0% {
						transform: translate(-50%, -30%);
					}

					25% {
						transform: translate(-50%, 30%);
					}

					47% {
						transform: translate(-50%, -30%);
					}

					53% {
						transform: translate(-50%, -30%);
					}

					75% {
						transform: translate(-50%, 30%);
					}

					100% {
						transform: translate(-50%, -30%);
					}
				}
			}
		}
	}
}

.sec02 {
	padding: 60px 0 60px;

	.flex_wrap {
		margin-bottom: 20px;
	}

	.main_tit {
		display: block;
		line-height: 1 !important;
	}

	.inner {
		margin: 0 auto;
	}

	.event_controller {
		position: relative;

		.event_prev,
		.event_next {
			position: static;
			display: inline-block;
			left: auto;
			right: auto;
			margin: 0;
			width: 28px;
			height: 17px;
			font-size: 0px;
			line-height: 1;
			color: transparent;
			text-indent: -9999rem;

			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			opacity: 1;

			&.swiper-button-disabled {
				opacity: .4;
			}
		}

		.event_prev {
			background-image: url(../images/event_prev.png);
		}

		.event_next {
			margin-left: 15px;
			background-image: url(../images/event_next.png);
		}
	}

	.event_list_wrap.swiper-container {
		padding-top: 30px;
		margin-left: -10px;

		.swiper-wrapper {
			margin-left: 10px;

			.swiper-slide {
				width: 190px;

				.img_box {
					display: block;
					width: 100%;
					height: auto;
					font-size: 0;

					>a {
						display: inline-block;
						overflow: hidden;

						transition: box-shadow .20s ease;

						img {
							width: 100%;
							height: 180px;

							transition: transform .20s ease;
							transform: scale(1);

						}

						&:hover {
							box-shadow: -4px -4px 8px rgba(0, 0, 0, .1);

							img {
								transform: scale(1.05);
							}
						}
					}
				}

				.event_info {
					margin-top: 25px;

					.stat {
						display: block;
						margin-bottom: 10px;

						font-weight: 500;
						line-height: 1;

						&::before {
							content: "";
							display: inline-block;
							width: 10px;
							height: 10px;
							margin-right: 4px;
							border-radius: 100%;
							margin-top: 2px;
							background-color: currentColor;
						}

						&.prg {
							color: $bc-1;
						}

						&.end {
							color: #666;
						}
					}

					.title {
						display: block;

						padding-bottom: 15px;
						border-bottom: 1px solid #eee;


						>a {
							position: relative;
							display: inline-block;
							max-width: 100%;
							min-height: 40px;
							font-size: 14px;
							font-weight: 400;
							color: #222;

							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;

							z-index: 10;

							&::before {
								content: "";
								position: absolute;
								width: 0;
								height: 100%;
								background: linear-gradient(to bottom, transparent 0%, transparent 30%, #{$bc-2} 30%, #{$bc-2} 60%, transparent 60%, transparent 100%);

								left: 2px;
								top: 0;

								z-index: -1;
								transform: skewX(15deg);
								transition: all .20s ease;
							}

							&:hover {
								&::before {
									width: calc(100% - 10px);
								}
							}
						}
					}

					.date {
						display: block;
						margin-top: 15px;
						line-height: 1;

						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
	}
}

.sec03 {
	position: relative;
	padding: 60px 0;
	background-color: #164441;
	overflow: hidden;

	.inner {
		position: relative;
		// width: 100%;
		// overflow: hidden;
	}

	.feed_list_wrap {
		&.swiper-container {
			width: 100%;
			overflow: visible;

			.swiper-wrapper {
				align-items: center;
				transition-timing-function: linear !important;

				.swiper-slide {
					display: inline-flex;
					max-width: 450px;
					width: auto;
					align-items: center;
					justify-content: center;
					transition-timing-function: linear;


					.feed {
						position: relative;
						width: 100%;
						height: auto;

						transition: all .20s ease;

						img {
							position: relative;
							width: 100%;
							height: auto;
							filter: grayscale(50%) opacity(50%) sepia(20%);
							background-color: #164441;

							transition: all .20s ease;
							z-index: 20;
						}

						.ico_instagram {
							position: absolute;
							width: 50px;
							height: 50px;

							font-size: 1px;
							text-indent: -9999rem;
							color: transparent;
							line-height: 0;

							background-repeat: no-repeat;
							background-size: cover;
							background-position: 0 0;
							background-image: url(../images/ico_instagram.png);

							opacity: 0;

							right: 20px;
							top: 20px;
							z-index: 40;

							transition: opacity all .20s;
						}

						.feed_info {
							position: absolute;

							width: 100%;
							padding: 0 20px;
							height: auto;

							color: #fff;


							bottom: 20px;
							left: 0;

							z-index: 30;

							.account {
								display: block;
								font-size: 18px;
								font-weight: 500;
							}

							.txt {
								display: block;
								margin-top: 10px;
								font-size: 16px;
							}
						}
					}

					// &.swiper-slide-active {
					// 	.feed {
					// 		img {
					// 			filter: initial;
					// 		}
					// 	}
					// }

					a:hover {
						i {
							opacity: 1 !important;
						}

						img {
							filter: initial;
						}
					}
				}
			}
		}
	}

	.txt_repeat {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 137px;
		background: url(../images/img_txt_repeat.png) repeat-x 0 0;
		animation: animatedBackground 20s linear infinite;
		-ms-animation: animatedBackground 20s linear infinite;
		-moz-animation: animatedBackground 20s linear infinite;
		-webkit-animation: animatedBackground 20s linear infinite;
	}
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

@-webkit-keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

@-moz-keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

.sec04 {
	margin-bottom: -60px;
	padding: 60px 0;

	h3 {
		margin-bottom: 25px;
		line-height: 1.1;
		font-weight: 600;
		font-size: 34px;
		color: #222;
	}

	li {
		&:not(:last-child) {
			margin-bottom: 15px;
		}

		>a {
			display: flex;
			flex-direction: column;
			padding: 16px 17px;
			background: #eee;
		}
	}

	.l {
		overflow: hidden;
		margin-bottom: 7px;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 600;
		font-size: 14px;
		color: #222;
	}
}

.header.scroll_header {
	background: #fff;

	&.active {
		background: #562e26;
	}

	.logo>a {
		filter: none;
	}
}

@media all and (min-width: 1445px),
print {
	.header.scroll_header {
		a {
			color: #222 !important;
		}
	}

	.main_tit {
		font-size: 54px;
	}

	.sec01 {

		.main_promotion {
			&.swiper-container {
				height: 100vh;

				.swiper-wrapper {

					.swiper-slide {

						.img_box {
							position: relative;
							width: 100%;
							height: 100%;

							img {
								position: absolute;
								width: 100%;
								min-width: calc(192 / 95 * 100vh);
								height: 100%;
								min-height: calc(95 / 192 * 100vw);
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}
						}

						// .txt_box {
						// 	position: absolute;
						// 	width: 1440px;
						// 	max-width: 100%;
						// 	left: 50%;
						// 	top: 25%;
						// 	z-index: 20;
						// 	color: #fff;
						// 	transform: translateX(-50%);

						// 	>strong {
						// 		display: block;
						// 		margin-bottom: 45px;
						// 		color: #fff;
						// 		font-size: 74px;
						// 		color: #fff;
						// 		line-height: 1;
						// 		font-weight: 600;
						// 	}

						// 	>em {
						// 		display: block;
						// 		font-size: 22px;
						// 		line-height: 1.5;
						// 		font-weight: 400;

						// 		&+p {
						// 			margin-top: 25px;
						// 		}
						// 	}

						// 	>p {
						// 		//pc컨텐츠
						// 		display: block;
						// 		font-size: 17px;
						// 		line-height: 1.5;
						// 	}
						// }
					}
				}

				.controller_wrap {
					width: 1440px;
					margin-left: -10px;
					max-width: 100%;
					top: 70%;
					left: 50%;
					z-index: 30;
					transform: translateX(-50%);

					.swiper-pagination {

						.swiper-pagination-bullet {
							width: 10px;
							height: 10px;

							&+.swiper-pagination-bullet {
								margin-left: 10px;
							}
						}
					}

					.main_prev,
					.main_next {
						padding: 10px;
						width: 40px;
						height: 34px;
						background-size: 20px 14px;
					}

					.main_prev {
						margin-right: 10px;
					}

					.main_next {
						margin-left: 10px;
					}
				}

				.scroll_icon {
					font-size: 16px;
					top: 90%;

					&::after {
						margin: 15px auto 0;
						width: 30px;
						height: 30px;

						background-size: 12px 14px;
					}
				}
			}
		}
	}

	.sec02 {
		padding: 120px 0 120px;

		.flex_wrap {
			margin-bottom: 20px;
		}

		.main_tit {
			display: block;

			text-indent: 0 !important;
			line-height: 1 !important;
		}

		.inner {
			margin: 0 auto -20px;
		}

		.event_controller {
			position: relative;

			.event_prev,
			.event_next {
				position: static;
				display: inline-block;
				left: auto;
				right: auto;
				margin: 0;
				width: 36px;
				height: 21px;
				font-size: 0px;
				line-height: 1;
				color: transparent;
				text-indent: -9999rem;

				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
				opacity: 1;

				&.swiper-button-disabled {
					opacity: .4;
				}
			}

			.event_prev {
				background-image: url(../images/event_prev.png);
			}

			.event_next {
				margin-left: 30px;
				background-image: url(../images/event_next.png);
			}
		}

		.event_list_wrap.swiper-container {
			padding-top: 40px;
			margin-left: -20px;

			.swiper-wrapper {
				margin-left: 20px;

				.swiper-slide {
					width: 330px;

					.img_box {
						display: block;
						width: 100%;
						height: auto;
						font-size: 0;

						>a {
							display: inline-block;
							overflow: hidden;

							transition: box-shadow .20s ease;

							img {
								width: 100%;
								height: 300px;

								transition: transform .20s ease;
								transform: scale(1);

							}

							&:hover {
								box-shadow: -8px -8px 16px rgba(0, 0, 0, .1);

								img {
									transform: scale(1.05);
								}
							}
						}
					}

					.event_info {
						margin-top: 40px;

						.stat {
							display: block;
							margin-bottom: 15px;

							font-weight: 500;
							line-height: 1;

							&::before {
								content: "";
								display: inline-block;
								width: 10px;
								height: 10px;
								margin-right: 7px;
								border-radius: 100%;
								margin-top: 2px;
								background-color: currentColor;
							}

							&.prg {
								color: $bc-1;
							}

							&.end {
								color: #666;
							}
						}

						.title {
							display: block;

							padding-bottom: 25px;
							border-bottom: 1px solid #eee;


							>a {
								position: relative;
								display: inline-block;
								max-width: 100%;
								font-size: 20px;
								font-weight: 400;
								color: #222;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;

								z-index: 10;

								&::before {
									content: "";
									position: absolute;
									width: 0;
									height: 100%;
									background: linear-gradient(to bottom, transparent 0%, transparent 60%, #{$bc-2} 60%, #{$bc-2} 100%);

									left: 2px;
									top: 0;

									z-index: -1;
									transform: skewX(15deg);
									transition: all .20s ease;
								}

								&:hover {
									&::before {
										width: calc(100% - 10px);
									}
								}
							}
						}

						.date {
							display: block;
							margin-top: 20px;
							font-size: 16px;
							line-height: 1;

							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
				}
			}
		}
	}

	.sec03 {
		padding: 140px 0;
		background-color: #164441;

		.inner {
			position: relative;
			//width: 100%;
			//overflow: hidden;
		}

		.feed_list_wrap {
			&.swiper-container {
				width: 100%;
				overflow: visible;

				.swiper-wrapper {
					align-items: center;
					transition-timing-function: linear !important;

					.swiper-slide {
						display: inline-flex;
						max-width: 450px;
						width: auto;
						align-items: center;
						justify-content: center;
						transition-timing-function: linear;


						.feed {
							position: relative;
							width: 100%;
							height: auto;

							transition: all .20s ease;

							img {
								position: relative;
								width: 100%;
								height: auto;
								filter: grayscale(50%) opacity(50%) sepia(20%);
								background-color: #164441;

								transition: all .20s ease;
								z-index: 20;
							}

							.ico_instagram {
								position: absolute;
								width: 50px;
								height: 50px;

								font-size: 1px;
								text-indent: -9999rem;
								color: transparent;
								line-height: 0;

								background-repeat: no-repeat;
								background-size: cover;
								background-position: 0 0;
								background-image: url(../images/ico_instagram.png);

								opacity: 0;

								right: 20px;
								top: 20px;
								z-index: 40;

								transition: opacity all .20s;
							}

							.feed_info {
								position: absolute;

								width: 100%;
								padding: 0 20px;
								height: auto;

								color: #fff;


								bottom: 20px;
								left: 0;

								z-index: 30;

								.account {
									display: block;
									font-size: 18px;
									font-weight: 500;
								}

								.txt {
									display: block;
									margin-top: 10px;
									font-size: 16px;
								}
							}
						}

						// &.swiper-slide-active {
						// 	.feed {
						// 		img {
						// 			filter: initial;
						// 		}
						// 	}
						// }

					}
				}
			}
		}
	}

	.sec04 {
		margin-bottom: -120px;
		padding: 120px 0;

		.inner {
			display: flex;
		}

		h3 {
			flex: 0 0 auto;
			margin-bottom: 25px;
			line-height: 1.2;
			font-size: 54px;
		}

		ul {
			width: 1090px;
			margin-left: auto;
			padding-left: 100px;
		}

		li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&:nth-child(1) {
				>a {
					width: 70%;
				}
			}

			&:nth-child(2) {
				>a {
					width: 85%;
				}
			}

			&:nth-child(3) {
				>a {
					width: 100%;
				}
			}

			>a {
				flex-direction: row;
				align-items: center;
				padding: 25px 30px;
				transition: .5s ease;

				&:hover {
					background: #ccc;
					width: 100%;
				}
			}
		}

		.l {
			flex: 1 1 auto;
			margin-bottom: 0;
			padding-right: 20px;
			font-size: 20px;
		}
	}
}